body{
    height: 100vh;
    font-size: 12px;
}

.box{
    width: 60%;
}
.box2{
    background-color: white;


}

.cont{
    background-image: url(/fsd-val-bootstrap-27-9-22/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.inputcontainer{
    background-color: brown;
}

.fontsize{
    font-size: small;
}

#colored{
    background-color: rgb(216, 215, 215);
}