body{
    height: 100vh;
}

.box{
    background-color: aqua;
    width: 40%;
    height: 60%;
}
.box2{
    background-color: aqua;

}

.cont{
    background-color: red;
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}